/* line 5, /Users/wellcaffeinated/Documents/github/minutelabs/Number-Constellations/library/styles/site.scss */
html, body, #wrap-outer {
  height: 100%;
}

/* line 10, /Users/wellcaffeinated/Documents/github/minutelabs/Number-Constellations/library/styles/site.scss */
.dg input {
  line-height: 1.4;
}

/* line 15, /Users/wellcaffeinated/Documents/github/minutelabs/Number-Constellations/library/styles/site.scss */
#progress {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 140px;
  margin: -80px 0 0 -80px;
  padding: 1em;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 27, /Users/wellcaffeinated/Documents/github/minutelabs/Number-Constellations/library/styles/site.scss */
#progress img {
  display: block;
  width: 120px;
  margin: auto;
}
/* line 33, /Users/wellcaffeinated/Documents/github/minutelabs/Number-Constellations/library/styles/site.scss */
#progress:after {
  content: 'working...';
  display: block;
  text-align: center;
}

/* line 40, /Users/wellcaffeinated/Documents/github/minutelabs/Number-Constellations/library/styles/site.scss */
#canvas-wrap {
  cursor: move;
  line-height: 0;
}
/* line 44, /Users/wellcaffeinated/Documents/github/minutelabs/Number-Constellations/library/styles/site.scss */
#canvas-wrap.loading {
  cursor: wait;
}

/* line 49, /Users/wellcaffeinated/Documents/github/minutelabs/Number-Constellations/library/styles/site.scss */
#more-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  padding: 2em;
  background: rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(67, 67, 67, 0.3);
  color: #434343;
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  transition: height 0.3s ease;
}
/* line 61, /Users/wellcaffeinated/Documents/github/minutelabs/Number-Constellations/library/styles/site.scss */
#more-info .title {
  margin-top: 0;
}
/* line 65, /Users/wellcaffeinated/Documents/github/minutelabs/Number-Constellations/library/styles/site.scss */
#more-info .content {
  overflow: auto;
}
/* line 69, /Users/wellcaffeinated/Documents/github/minutelabs/Number-Constellations/library/styles/site.scss */
#more-info .hide {
  position: absolute;
  top: 1em;
  right: 1em;
}
/* line 75, /Users/wellcaffeinated/Documents/github/minutelabs/Number-Constellations/library/styles/site.scss */
#more-info.closed {
  cursor: pointer;
  height: 2em;
}
/* line 79, /Users/wellcaffeinated/Documents/github/minutelabs/Number-Constellations/library/styles/site.scss */
#more-info.closed .hide {
  display: none;
}

/* line 85, /Users/wellcaffeinated/Documents/github/minutelabs/Number-Constellations/library/styles/site.scss */
#number-id {
  position: absolute;
  top: -85px;
  right: 0;
  font-size: 40px;
  line-height: 1;
  text-align: right;
  padding: 22px 28px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}
