// site styles
@import 'compass/css3';
@import '_vars';

html, body, #wrap-outer {
    height: 100%;
}

.dg {
    input {
        line-height: 1.4;
    }
}

#progress {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 140px;
    margin: -80px 0 0 -80px;
    padding: 1em;
    background: #fff;
    @include box-shadow( 0 0 5px rgba(0, 0, 0, 0.3) );
    @include border-radius( 5px );

    img {
        display: block;
        width: 120px;
        margin: auto;
    }
    
    &:after {
        content: 'working...';
        display: block;
        text-align: center;
    }
}

#canvas-wrap {
    cursor: move;
    line-height: 0;

    &.loading {
        cursor: wait;
    }
}

#more-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 440px;
    padding: 2em 2em 0;
    background: rgba(255, 255, 255, 0.9);
    border-top: 1px solid transparentize($deep-grey, 0.7);
    color: $deep-grey;
    @include transition( height 0.3s ease );

    .title {
        margin-top: 0;
    }

    .content {
        height: 100%;
        overflow: hidden;
    }

    .hide {
        position: absolute;
        top: 1em;
        right: 1em;
    }

    &.closed {
        cursor: pointer;
        height: 4em;

        .hide {
            display: none;
        }
    }

    .tip {
        position: absolute;
        font-size: 12px;
        top: -3em;
        left: 0;
        padding: 0.5em 1em;
        background: rgba(0, 0, 0, 0.9);
        color: #fff;
    }

    #what-is-this {
        position: absolute;
        top: 3.2em;
        right: 1em;
        display: none;
    }

    [id^="describe-"]{
        display: none;
    }

    #back-to:after {
        content: attr(data-about);
    }

    iframe {
        width: 560px;
    }
}

#number-id {
    position: absolute;
    top: -85px;
    right: 0;
    font-size: 40px;
    line-height: 1;
    text-align: right;
    padding: 22px 28px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
}

